// Place all the styles related to the bienvenido controller here.

#casa{

	background-image: url("assets/img.jpg");
        background-repeat: no-repeat;
        background-position: top left;
        height: 200px;
}

// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
